.add-user-card {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#addUser{
    background-color: #58d966;
}