.card-user {
    margin: 1rem;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    padding: 1rem;
    display: flex;
    min-height: 10rem;
}

.add-user-card > button{
    margin-left: 1.2rem;
    margin-top: 1.5rem;
    padding: 0.5rem 3rem;
    width: 10rem;
    min-height: 3rem;
}

.update-user{
    min-height: 20rem;
}

.card-user > div, .card-user > form{
    width: 50%;
}

.card-user > hr{
    color: #3f7cde;
}

.card-user-options{
    display: flex;
    flex-direction: column;
    width: 25% !important;
    justify-content: space-around;
}

.card-user > div > h6, .card-user > form > h6{
    font-weight: 600;
    font-size: 20px;
    margin: 0; 
}

.card-user > div > h6, .card-user > div > p{
    margin-left: 1rem;
}

.card-user > div > p:first-child::first-letter{
    text-transform: capitalize
}

.button {
    border-style: none;
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: #e9e9ed7d;
}

.button:first-child{
    background-color: #58d966;
    color: #fff;
}

.button:last-child{
    background-color: rgba(203, 23, 23, 0.719);
    color: #fff;
}

.button:hover{
    border-radius: 2rem;
    cursor: pointer;
    transition: 1s;
}

#get-user{
    background-color: #58b9d9;
    color: #fff;
}

#update-user{
    background-color: #b4b8a6;
    color: #ffffff;
}

@media only screen and (max-width: 1305px) {
    
    .card-user{
        min-height: 20rem;
    }
  
}

@media only screen and (max-width: 755px) {
    
    .card-user{
        flex-direction: column;
    }
  
}


